
<div class="main-content">
    <div class="container">
        <div class="row justify-content-center" style="margin-top:50px;">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info"  style="text-align: center;">
                        <h4 class="card-title">Administración ArtiCoding</h4>
                    </div>
                    <div class="card-body">
                        <div style="text-align: center;">
                            <div class="row">
                                <div class="col-md-6" style="height: 100px;">
                                    <label>Nombre de usuario</label><br>
                                    <input matInput placeholder="Usuario" [(ngModel)]="username">
                                </div>
                                <div class="col-md-6" style="height: 100px;">
                                    <label>Contraseña</label><br>
                                    <div class="row justify-content-center">
                                        <input matInput placeholder="Contraseña" style="height: 30px;"
                                        [type]="hide? 'password' : 'text'" 
                                        [(ngModel)]="password">
                                    
                                        <a class="material-icons" (click)="hide = !hide" style="color: grey;height: 30px;margin-top: 3px;margin-left: 8px;">
                                            {{hide ? 'visibility_off' : 'visibility'}}
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <label *ngIf="isError" style="color: red;">
                                        {{errorMensaje}}
                                    </label>
                                </div>
                            </div>
                            <button mat-raised-button class="btn btn-info pull-center"
                            (click)="Login()">
                                Iniciar sesión</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>   
            </div>   
        </div>   
    </div>   
</div>    