<h1 mat-dialog-title>Nuevo/s Usuario/s</h1>
<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Simple">
            <form [formGroup]="formUser"  (ngSubmit)="CreateSimpleUser()">
                <mat-form-field>
                    <input matInput formControlName="username" type="string" [(ngModel)]="user.username" placeholder="Nombre">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" formControlName="password" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Roles</mat-label>
                    <mat-select formControlName="roles" [(ngModel)]="rol" required>
                      <mat-option value="ROLE_USER">Usuario</mat-option>
                      <mat-option value="ROLE_TEACHER">Profesor</mat-option>
                      <mat-option value="ROLE_ADMIN">Administrador</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button class="btn btn-info pull-center" type="submit" [disabled]="!formUser.valid">Crear</button>
                  <div class="clearfix"></div>
            </form>
                           
        </mat-tab>
        <mat-tab label="Avanzado">

        </mat-tab>
      </mat-tab-group>
</div>
