<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" *ngIf="playlistDetail">
                <div class="card">
                    <div class="col card-header card-header-info align-self-end d-flex justify-content-between" style="font-weight: bold;"> 
                        <div>{{(playlistDetail ? "Nombre: " + playlistDetail.title: '') | uppercase}}</div>
                        <div>{{(playlistDetail ? "Autor: " + playlistDetail.owner.username: '') | uppercase}}</div>
                        <div>{{(playlistDetail ? "ID: " + playlistDetail.id: '') | uppercase}}</div>
                    </div>

                    <div class="card-body">
                        <form style="width: 100%;" [formGroup]="formPlaylist" (ngSubmit)="editPlaylist()">
                            <div class="row">
                                <div class="col-3">
                                    <mat-slide-toggle color="primary"  
                                    [checked]="playlistDetail.enabled" 
                                    (change)="playlistDetail.enabled = !playlistDetail.enabled"
                                    formControlName="enabled">
                                     Activado</mat-slide-toggle>    
                                </div>
                                <mat-form-field class="col-6">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput matInput type="string" 
                                    [(ngModel)]="playlistDetail.title" formControlName="name" 
                                    placeholder="Nombre">
                                </mat-form-field>   
                            </div>
                            <div class="row">
                                <button mat-raised-button class="btn btn-info pull-center" type="submit" 
                                [disabled]="!(formPlaylist.valid && formPlaylist.dirty)">
                                {{'Guardar'}}</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        
                        <h3>Todos los niveles</h3>
                        <div class="row">
                            <mat-form-field width="200px" style="padding-left: 20px;">
                                <input
                                    matInput
                                    type="string" 
                                    [(ngModel)]="allLevelsNameFilter"
                                    placeholder="Filtrar por nombre"
                                    (keyup.enter)="putAllLevelsFilter()">
                             </mat-form-field>
                        </div>

                        <mat-table [dataSource]="allLevels" #allLevelsTable="matTable" allLevelsTable>
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef>Identificador</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{item.level.id}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="title">
                                <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{item.level.title}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="allLevelsColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: allLevelsColumns"></mat-row>
                        </mat-table>
                        <mat-paginator
                            #paginator
                            [length]="allLevelsPagination.length"
                            [pageIndex]="allLevelsPagination.pageIndex"
                            [pageSize]="allLevelsPagination.pageSize"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            (page)="getLevels($event)"
                            [showFirstLastButtons]="true">
                        </mat-paginator>

                        <mat-divider></mat-divider>

                        <h3>Niveles en la playlist</h3>
                        <mat-table [dataSource]="playlistDetail.levels" #levelsTable="matTable" levelsTable>
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef>Identificador</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="playlistLevelsColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: playlistLevelsColumns"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
