<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div style="width: 60px;" class="col card-header card-header-info align-self-end"> 
                        <a class="material-icons" style="color: white;" (click)="newUser()">person_add</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" *ngIf="true">
                            <mat-table class="lessons-table mat-elevation-z8" [dataSource]="users" #userTable>
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>Identificador</mat-header-cell>
                                    <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="username">
                                    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                                    <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
                                </ng-container>
                              
                                <ng-container matColumnDef="enabled">
                                    <mat-header-cell *matHeaderCellDef>Activo</mat-header-cell>
                                    <mat-cell  class="description-cell"
                                              *matCellDef="let user">{{user.enabled}}</mat-cell>
                                </ng-container>
                              
                                <ng-container matColumnDef="roles">
                                    <mat-header-cell *matHeaderCellDef>Roles</mat-header-cell>
                                    <mat-cell  class="description-cell"
                                    *matCellDef="let user">{{user.rol}}</mat-cell>
                                </ng-container>
                                
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                
                            </mat-table>
                            <mat-paginator #paginator  [length]="length"
                            [pageIndex]="pageIndex"  [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = getServerData($event)"
                            [showFirstLastButtons]="true"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  