<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div (click)="newClassRoom()" style="width: 60px;cursor:pointer;" class="col card-header card-header-info align-self-end"> 
                        <a class="material-icons" style="color: white;">school</a>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-start" style="padding-left: 20px;" width="95%">
                            <div *ngIf="!isFilter" class="row">
                                <mat-form-field width="200px" style="padding-left: 20px;">
                                    <input matInput type="string" 
                                     [(ngModel)]="filter"
                                     placeholder="Filtrar por nombre"
                                     (keyup.enter)="putFilter()">
                                 </mat-form-field>
                                 <button (click)="putFilter()" 
                                 style="border: 0; background: transparent;">
                                     <a class="material-icons" style="color: #00bcd4;">filter_alt</a>
                                 </button> 
                            </div>
                            <div *ngIf="isFilter" style="padding-right: 10px;">
                                    <mat-chip-list #chipList>
                                      <mat-chip>
                                        Nombre  '{{filter}}'  
                                        <mat-icon class="tal" (click)="quitFilter()">cancel</mat-icon>
                                      </mat-chip>
                                    </mat-chip-list>
                            </div>
                        </div>
                        <div class="table-responsive" *ngIf="true">
                            <mat-table class="lessons-table mat-elevation-z8" [dataSource]="classRooms" #classRoomTable>
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>Identificador</mat-header-cell>
                                    <mat-cell *matCellDef="let classRoom">{{classRoom.id}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                                    <mat-cell *matCellDef="let classRoom">{{classRoom.name}}</mat-cell>
                                </ng-container>
                              
                                <ng-container matColumnDef="description">
                                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                                    <mat-cell  class="description-cell"
                                              *matCellDef="let classRoom">{{classRoom.description}}</mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="key">
                                    <mat-header-cell *matHeaderCellDef>Clave</mat-header-cell>
                                    <mat-cell *matCellDef="let classRoom">{{classRoom.classKey}}</mat-cell>
                                </ng-container>
                              
                                <ng-container matColumnDef="enabled">
                                    <mat-header-cell *matHeaderCellDef>Activo</mat-header-cell>
                                    <mat-cell  class="description-cell"
                                    *matCellDef="let classRoom">
                                        <a *ngIf="classRoom.enabled" class="material-icons"
                                        style="color: rgb(109, 150, 109);" matTooltip="Habilitado">visibility</a>
                                        <a *ngIf="!classRoom.enabled" class="material-icons" 
                                        style="color: rgb(165, 111, 111);" matTooltip="Deshabilitado">disabled_visible</a>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="students">
                                    <mat-header-cell *matHeaderCellDef>NºEstudiantes</mat-header-cell>
                                    <mat-cell (click)="goStudents(classRoom.id)" class="description-cell"
                                    *matCellDef="let classRoom">{{classRoom.students}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="teachers">
                                    <mat-header-cell *matHeaderCellDef>NºProfesores</mat-header-cell>
                                    <mat-cell (click)="goTeachers(classRoom.id)" class="description-cell"
                                    *matCellDef="let classRoom">{{classRoom.teachers.length}}</mat-cell>
                                </ng-container>
     
                                <ng-container matColumnDef="levels">
                                    <mat-header-cell *matHeaderCellDef>NºNiveles</mat-header-cell>
                                    <mat-cell (click)="goLevels(classRoom.id)"  class="description-cell"
                                    *matCellDef="let classRoom">{{classRoom.levels}}</mat-cell>
                                </ng-container>                           
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row (click)="goClase(row.id)" style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"></mat-row>
                                
                            </mat-table>
                            <mat-paginator #paginator  [length]="length"
                            [pageIndex]="pageIndex"  [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = getServerData($event)"
                            [showFirstLastButtons]="true"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <style>
    .mat-row:hover {
    background-color: #00bbd442;
    }
    .tal {
        padding: 4px 4px 3px 4px;
        font-size: 17px;
        color: gray;
    }
    .tal:hover{
        color: rgb(56, 53, 53)!important;
    }
  </style>